@charset "utf-8";
/* CSS Document */
body {
	background-image:linear-gradient(rgba(0,5,9,13),rgba(13,16,18,25));
	background-position:center;
	background-size:cover;
}
.logo {
	width:80px;
	height:70px;
	margin-top:20px;
}
.header-btn {
	padding: 7px 10px;
	border-radius:10px;
	text-decoration:none !important;
	font-weight:400;
	color:#fff;
	float:right;
	background:#00aff0;
	margin-top:30px;
	}
.movie-details {
	margin:3% 8%;
}
.left-box {
	color:#fff;
}.casting img {
	width:40px;
	height:40px;
	margin-right:10px;
	cursor:pointer;
}
.left-box a {
	padding: 7px 10px;
	border-radius:10px;
	text-decoration:none !important;
	font-weight:400;
	color:#fff;
	background:#00aff0;
	margin-top:30px;
	display:inline-block;
	margin-right:60px;
}
.download-btn {
	border:1px solid #00aff0 !important;
	background:transparent !important;
}
.movie-img {
	height:250px;
	box-shadow:-3px 4px 5px 0 #000;
	height:150px
	width:200px;0
}
h3 {
	color:#fff;
	margin:3% 8%;
}
.series img {
	width:100%;
	margin-top:15px;
	box-shadow:-3px 4px 5px 0 #000;
	cursor:pointer;
	transition:1s;
	margin:3% 8%;
}
.series img:hover {
	transform:translatey(-10px);
}
